VITE_GOOGLE_CLIENT_ID=965729428242-fa0gnv5g8nrgq55ehd1jgsgamal1elab.apps.googleusercontent.com
VITE_GITHUB_CLIENT_ID=Ov23lizOPjsrTfSnh2Cy
VITE_API_BASE_URL=https://intelipath-backend.onrender.com/api/v1
VITE_API_HOST=https://intelipath-backend.onrender.com