@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./assets/SpaceGrotesk-VariableFont_wght.ttf");
  font-weight: 700;
}

@theme {
  --color-primary: #1E50FF;
  --color-primary-dark: #1030A0;
  --color-bg: #F4F7FB;
  --color-text-dark: #1A1F36;
  --color-text-gray: #6B7280;
  --font-sans: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-dark);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}

/* Custom background for the bottom banner */
.bg-banner {
  background: linear-gradient(90deg, #1A60FF 0%, #174EE6 100%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
